<h2>Disclaimer for Chinguv6-Geckos-Team-18</h2>

<p>We are doing our best to prepare the content of this site. However, Chinguv6-Geckos-Team-18 cannot warranty the expressions
  and suggestions of the contents, as well as its accuracy. In addition, to the extent permitted by the law, Chinguv6-Geckos-Team-18
  shall not be responsible for any losses and/or damages due to the usage of the information on our website.</p>

<p>The links contained on our website may lead to external sites, which are provided for convenience only. Any information or
  statements that appeared in these sites are not sponsored, endorsed, or otherwise approved by Chinguv6-Geckos-Team-18.
  For these external sites, Chinguv6-Geckos-Team-18 cannot be held liable for the availability of, or the content located
  on or through it. Plus, any losses or damages occurred from using these contents or the internet generally.</p>

<p>
  <a href="https://disclaimertemplate.net">This Disclaimer page was created at Free Disclaimer Template.net</a>
</p>