<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile id="top" class="header" rowspan="1" colspan="2">
    <mat-card-title>
      <h1 id="h1_title">BreezyCards</h1>
    </mat-card-title>
  </mat-grid-tile>
</mat-grid-list>

<div fxLayout='column' class="zero">

  <mat-grid-list #grid rowHeight="5:3" cols="2">

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>App features</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Our application helps people to learn new things and create new world
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="images">
      <img src="../../../../../assets/img/openmind.svg">
    </mat-grid-tile>
    <mat-grid-tile class="images">
      <img src="../../../../../assets/img/isometricworkspace-01.svg">
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Fresh collections</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          We've created several collections that will help you to start education and set your pace
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Your own personal cards</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          You can create your own cards and fill them with content you need for studying
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile class="images">
      <img src="../../../../../assets/img/ToysIconPack.svg">
    </mat-grid-tile>
    <mat-grid-tile class="images">
      <img src="../../../../../assets/img/FreeAirshipVector.svg">
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Growing and international</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Our community is growing rapidly, we have followers all over the world. Try it xD
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>


</div>


<footer class="footer" fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">

  <div>
    <mat-icon>assignment_turned_in</mat-icon>
    <h4>Products</h4>
    <ul>
      <li>Project 1</li>
      <li>Project 2</li>
      <li>Project 3</li>
    </ul>
  </div>


  <div>
    <mat-icon>help</mat-icon>
    <h4>FAQ</h4>
    <ul>
      <li>Guide</li>
      <li>FAQs</li>

    </ul>
  </div>
  <div>
    <mat-icon>feedback</mat-icon>
    <h4>Social</h4>
    <ul>
      <li>Twitter</li>
      <li>Facebook</li>
      <li>Google+</li>
      <li>Github</li>
    </ul>
  </div>
  <div>
    <mat-icon>loyalty</mat-icon>
    <h4>About the company</h4>
    <ul>
      <li>Terms of service</li>
      <li>Privacy policy</li>
    </ul>
  </div>

</footer>