<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile id="top" class="header" rowspan="1" colspan="2">
    <mat-card-title>
      <h1 id="h1_title">BreezyCards</h1>
    </mat-card-title>
  </mat-grid-tile>
</mat-grid-list>

<div id="wrapper" class="wrapper" fxLayout="row">
  <div fxflex>

    <h2 class="text">App features</h2>

    <p>Our application helps people to learn new things and create new worlds of knowledge... easy breezy.</p>

  </div>
  <div fxflex id="people" class="images">
    <img src="../../../../../assets/img/vecteezy/vecteezy_landing_1.svg">
  </div>
  <div fxflex id="computer" class="images">
    <img src="../../../../../assets/img/vecteezy/vecteezy_landing_2.svg">
  </div>
  <div fxflex>

    <h2 class="text">Fresh collections</h2>

    <p>We've created several collections that will help you to start education and set your pace</p>

  </div>
  <div fxflex>

    <h2 class="text">Your own personal cards</h2>


    <p>You can create your own cards and fill them with content you need for studying</p>

  </div>
  <div fxflex id="toys" class="images">
    <img src="../../../../../assets/img/vecteezy/vecteezy_landing_3.svg">
  </div>
  <div fxflex class="images">
    <img src="../../../../../assets/img/vecteezy/vecteezy_landing_4.svg">
  </div>
  <div fxflex>

    <h2 class="text">Growing and international</h2>

    <p>Our community is growing rapidly, we have followers all over the world. Try it!</p>

  </div>


</div>
<app-footer></app-footer>