@import '~@angular/material/theming';
@import '../../../../../main-theme.scss';
/* Typography */

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  text-align: center;
}

#h1_title {
  color: #fff;

  letter-spacing: 0.5em;
  text-shadow: 2px 2px 15px mat-color($main-theme-primary);
}

h4,
h1,
h2 {
  font-weight: 300;
  font-family: $special-font;
}

span {
  display: block;
}

.material-icons {
  font-family: 'Material Icons';
}

/* End Typography */

.images img {
  margin: 10px;
}

#parent {
  overflow: hidden;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.wrapper {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#wrapper div {
  padding: 20px;
  flex: 1 1 50%;
  box-sizing: border-box;
  max-width: 50%;
}

#footer {
  background-color: mat-color($main-theme-primary);
  font-size: 0.9em;
  display: flex;
  & .mat-card {
    color: #fff;
    background-color: mat-color($main-theme-primary);
  }
  & div .mat-card * {
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 1%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover,
  a:visited {
    background-color:mat-color($main-theme-accent);
  }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 400px) {
  #h1_title {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 559px) {
  #h1_title {
    letter-spacing: 0.2em;
  }

  #people {
    order: -1;
  }
  #toys {
    order: 1;
  }

  #wrapper div {
    flex: 1 1 100%;
    max-width: 100%;
  }
  #footer div .mat-card * {
    font-size: 1em;
  }
}

@media screen and (min-width: 960px) and (max-width: 5000px) {
  p,
  span {
    letter-spacing: 0.2em;
  }
  #h1_title {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  .text {
    margin-top: 28%;
  }
}
