

<footer id="footer" fxLayout="row" fxLayoutAlign="space-evenly start">

  <div fxflex>
    <mat-card>
      <mat-card-title>
        <mat-icon>assignment_turned_in</mat-icon>
        <h4>Products</h4>
      </mat-card-title>
      <mat-card-content>

        <span>Project 1</span>
        <span>Project 2</span>
        <span>Project 3</span>

      </mat-card-content>
    </mat-card>


  </div>


  <div fxflex>

    <mat-card>
      <mat-card-title>
        <mat-icon>help</mat-icon>
        <h4>FAQ</h4>
      </mat-card-title>
      <mat-card-content>

        <span>Guide</span>
        <span>FAQs</span>


      </mat-card-content>
    </mat-card>

  </div>
  <div fxflex>
    <mat-card>
      <mat-card-title>
        <mat-icon>feedback</mat-icon>
        <h4>Social</h4>
      </mat-card-title>
      <mat-card-content>

        <span>Twitter</span>
        <span>Facebook</span>
        <span>Google+</span>
        <span>Github</span>

      </mat-card-content>
    </mat-card>


  </div>
  <div fxflex>
    <mat-card>
      <mat-card-title>
        <mat-icon>loyalty</mat-icon>
        <h4>About the company</h4>
      </mat-card-title>
      <mat-card-content>
          <span><a routerLink="/legal/disclaimer">Disclaimer</a></span>
        <span><a routerLink="/legal/terms-and-conditions">Terms and conditions</a></span>
        <span><a routerLink="/legal/privacy-policy">Privacy policy</a></span>

      </mat-card-content>
    </mat-card>

  </div>

</footer>