:host {
	margin: 1% 1%;
}
.card {
	width: 300px;
	height: 300px;
	position: relative;
	perspective: 1000px;
}

.card-title {
	font-size: 40px;
	color: blue;
	text-align: center;
	text-transform: uppercase;
}

.front, .back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	border-radius: 20px;
	left: 0;
	top: 0;
	font-size: 21px;
}

.front {
background: -moz-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
}

.back {
    background: -moz-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.6) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,0.8)), color-stop(51%, rgba(181,198,208,0.8)), color-stop(100%, rgba(224,239,249,0.6)));
    background: -webkit-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.6) 100%);
    background: -o-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.6) 100%);
    background: -ms-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.6) 100%);
    background: linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,0.8) 50%, rgba(181,198,208,0.8) 51%, rgba(224,239,249,0.6) 100%);
}

